<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="manifest" href="site.webmanifest">
  <link rel="icon" type="image/png" href="term.png" />
  <link rel="apple-touch-icon" href="term.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/mine.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="div-1"> 
  <header style='margin: 0px !important;'>
    <nav style='margin: 0px !important;'>
    <div class='column-1'>

    <ul class='rr' >
      <li class='inline- sqr' ></li>
      <li class='inline-'>
      <h1  class="raise" style='font-size:49px;'><a class='a1' style='color:bisque !important; ' href='#'>&lt;techDvx /&gt;</a></h1>
      <div class='these'>
      <a class="raise"  style='display:table-cell; padding: 3px;'><div class='icon-p'></div></a>
      <a class="raise" style='display:table-cell; padding: 3px;' ><div class='icon-j'></div></a>
      <a class="raise" style='display:table-cell; padding: 3px;' ><div class='icon-e'></div></a>
      <a class="raise" style='display:table-cell; padding: 3px;' ><div class='icon-r'></div></a>
      <a class="raise" style='display:table-cell; padding: 3px;' ><div class='icon-sep'></div></a>
      <a class="raise" style='display:table-cell; padding: 3px;' ><div class='icon-vvg'></div></a>

      </div>
      </li>
      <!--<li class='inline-'><h4 class="raise">About</h4></li>-->
    </ul>
    
    </div>
    </nav>
    
    <hr style='background-color: blue; margin: 0px 40px 0px 40px' >
  </header>
  <div class='body'>
    <p class='inner'>Hi, my name is <a class='a1' href='https://nameberry.com/babyname/Cedric'>Cedric</a> and
     on the internet I’m mostly known as cdvx. I like computers, <a href=''>ART</a>, music, dogs, books, 
     physics, chemistry, nature, photography and discovering the world through traveling. I have no formal 
     education in anything I'm really interested in, that is, code and Art; but I'm quite good in searching for and finding 
     what I need. I learn all this way then I use in my <a class='a1'>&lt;projects/&gt;</a?> | <a class='a1'>🎨</a>. 
     … I ❤️ open source. 
    <p>Find me on 
     <a class="raise these icon-g" href='https://github.com/cdvx' style='padding: 0 9px 3px 11px; '></a>, 
     <a class="raise these icon-t" href='https://twitter.com/wrld3r' style='padding: 0 9px 3px 11px; '></a>, 
     <a class="raise these icon-in" href='https://www.linkedin.com/in/cedric-lusiba-31806ba7/' style='padding: 0 9px 3px 11px; '></a>, 
     <a class="raise these icon-gm" href='cedriclusiba@gmail.com' style='padding: 0 9px 3px 11px; '></a> 
     &nbsp;and 
     <a class="raise these icon-d"  style='padding: 0 9px 3px 11px; '></a>.
    </p>
    
  </div>
  <!--<hr style='background-color: blue; margin: 0px 40px 0px 40px' >-->
  <div class='body'>
  <div class='notice'>
    <p class='pad' ><strong>⚠️Notice!:</strong> <em>Site down for maintenance!</em></p>
    </div>
    <p>
    <h1>Blog</h1>
    <hr class='s2' >
    Date: Title 

  </p>
  <p>
    <h1>Projects</h1>
    <hr class='s2' >
    Name: Title

  </p>
  </div>
  
  <div class='footer'>
  <hr class='yo' style='background-color: linear-gradient( transparent 0%, transparent calc(50% - 13px), rgba(61, 57, 59, 0.35) calc(50% - 7px), rgba(61, 57, 59, 0.35) 100% );'>
  <p>
      © 2018 Copyright:
        <a href="#">cdvx.com</a>
      </p>
      </div>
  </div>

  <script src="../static/js/vendor/modernizr-3.7.1.min.js"></script>
  <!--<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
  <!--<script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-3.4.1.min.js"><\/script>')</script> -->
  <script src="../static/js/plugins.js"></script>
  <script src="../static/js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!--<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>-->
</body>

</html>
